<div class="add-background">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Add Lab-Test Bill Details</h2>
        <form (ngSubmit)="addBill()">
          <div class="form-group">
            <label for="patientName">Patient Name</label>
            <input type="text" class="form-control" id="patientName" [(ngModel)]="patientName" name="patientName" required>
          </div>
          <br>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="date" name="date" required>
          </div>
          <br>
          <div class="form-group">
            <label for="subject">Select Test Type</label>
            <select id="subject" class="form-control" [(ngModel)]="selectedSubject" (change)="onChangeSubject()" name="subject" required>
              <option [ngValue]="null" disabled>Test Type</option>
              <option *ngFor="let subject of subjects" [ngValue]="subject">{{ subject.name }}</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label for="test">Select Test</label>
            <select id="test" class="form-control" [(ngModel)]="selectedTest" name="test" required>
              <option [ngValue]="null" disabled>Select a test</option>
              <option *ngFor="let test of availableTests" [ngValue]="test">{{ test.name }} - {{ test.price }}</option>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" (click)="selectedTests.push(selectedTest)" *ngIf="selectedTest">Add Test</button>
          <br>
          <div class="form-group" *ngIf="selectedTests.length > 0">
            <label>Selected Tests</label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let test of selectedTests">{{ test.name }} - {{ test.price }}</li>
            </ul>
          </div>
          <br>
          <div class="form-group">
            <label for="amountPaid">Amount Paid</label>
            <input type="number" class="form-control" id="amountPaid" [(ngModel)]="amountPaid" name="amountPaid" required>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Save Details</button>
        </form>
        <br>
        <div *ngIf="isFormSubmitted">
          <h3 *ngIf="isFormSubmitted">Hi {{ patientName | capitalize }}, Lab-Test bill details are saved.</h3>
          <h4>Bill Number : {{ billNumber }}</h4>
          <h4>Balance Amount : {{ balance }}</h4>
        </div>
      </div>
      <div class="col-md-6">
        <h2>View Bills</h2>
        <div class="form-group">
          <label for="searchPatientName">Search Patient Name:</label>
          <input type="text" class="form-control" id="searchPatientName" [(ngModel)]="searchPatientName" name="searchPatientName">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" (click)="viewBillsByName()">View Bills</button>
      </div>
    </div>
  </div>
</div>
