<div class="welcome">
    <div class="welcome-text">
      <h1>Welcome</h1>
      <br>
      <h2>Your health is our priority</h2>
      <h2>Experience the best diagnostic services with us.</h2>
      <div class="welcome-buttons">
        <button class="welcome-btn login-btn" (click)="showLogin()">Login</button>
        <button class="welcome-btn register-btn" (click)="showRegister()">Register</button>        
      </div>
    </div>
    <div class="welcome-image">
      <img src="https://images.pexels.com/photos/3938022/pexels-photo-3938022.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Welcome image" />
    </div>
  </div>
  